<%- include("header"); -%>

    <h2>
        This is the about page.
    </h2>
    <p>
        Know about me more on <a href="https://www.linkedin.com/in/priyanshu-gupta-a22664170/">LinkedIn</a>
    </p>

    <%- include("footer"); -%>